[user]
  name = Trevor Scheer
  email = trevor.scheer@gmail.com

[core]
  editor = vim
  excludesfile = ~/.gitignore

[alias]
  #co = checkout
  #br = branch
  #ci = commit
  s = status

[pull]
	rebase = true

#[branch]
#	autoSetupMerge = simple

[push]
  autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
